@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

button {
    padding: 20px 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.3em;
    background: transparent;
    border: 0;
}